@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body {
    font-family: "ralewayregular", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

.header {
    display: grid;
    align-items: center;
    margin: auto;
}

.header_img {
    grid-area: logo;
    padding: 0 1rem;
    height: 3rem;
}

.header_nav {
    grid-area: nav;
    display: flex;
    align-items: center;
}

.header_navlink {
    padding: 1rem;
    font-weight: 500;
    text-align: center;

}

.header_navlink[data-active=true] {
    color: #0065FC;
}

.header_navlink:hover {
    color: #0065FC;
}

.header_navsignup {
    grid-area: signup;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
}

@media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo" "nav" "signup";
    }
    .header_navlink[data-active=true] {
        border-top: 3px solid #0065FC;
    }
    .header_navlink:hover {
        border-top: 3px solid #0065FC;
    }
}

@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo .signup" "nav nav nav";
    }
    .header_navlink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    .header_navlink[data-active=true] {
        border-bottom-color: #0065FC;
    }
    .header_navlink:hover {
        border-bottom-color: #0065FC;
    }
}

/* Search */

.title_search {
    padding: 1rem;
}

.location_icon {
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    margin-left: 1rem;
}

.search_text {
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-size: 1rem;
    width: 14rem;
    font-weight: bold;
    padding: 1rem;
}

.search_text::placeholder {
    font-size: 1rem;
    color: #000000;
    padding: 1rem;
}

.search_button {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    cursor: pointer;
}


/* Filters */

.filterstitle_1 {
    padding: 1rem;
    display: flex;
}

.filters_title {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}


.filters_icon {
    text-align: center;
    padding: 1rem;
    border-radius: 100%;
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.33rem;
    
}

.filters_box {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    width: 40%;
    
}

.filters_text {
    margin: 0.5rem;
}

.filters_box:hover {
    background-color: #f3f8ff;
}

.information {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.icon_information {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

.text_information {
    margin: 0;
}

/* Aside */

.popular {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.popular_content {
    display: grid;
    row-gap: 2rem;
    align-items: flex-start;
    grid-template-rows: auto repeat(3, 1fr);
}

.popular1_title {
    margin: 0;
    display: flex;
    justify-content: space-between;
}


