@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body {
    font-family: 'Raleway', sans-serif;
    font-family: "ralewayregular", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

.header {
    display: grid;
    align-items: center;
    margin: auto;
}

.header_img {
    grid-area: logo;
    padding: 0 1rem;
    height: 3rem;
}

.header_nav {
    grid-area: nav;
    display: flex;
    align-items: center;
}

.header_navlink {
    padding: 1rem;
    font-weight: 500;
    text-align: center;

}

.header_navlink[data-active=true] {
    color: #0065FC;
}

.header_navlink:hover {
    color: #0065FC;
}

.header_navsignup {
    grid-area: signup;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
}

@media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . nav signup";
    }
    .header_navlink[data-active=true] {
        border-top: 3px solid #0065FC;
    }
    .header_navlink:hover {
        border-top: 3px solid #0065FC;
    }
}

@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . signup" "nav nav nav";
    }
    .header_navlink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    .header_navlink[data-active=true] {
        border-bottom-color: #0065FC;
    }
    .header_navlink:hover {
        border-bottom-color: #0065FC;
    }
}

/* Search */

.title_search {
    padding: 1rem;
}

.location_icon {
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
    margin-left: 1rem;
}

.search_form {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.search_text {
    border-left: none;
    border-right: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-size: 1rem;
    width: 14rem;
    font-weight: bold;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.search_text::placeholder {
    font-size: 1rem;
    color: #000000;
}

.search_button {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Filters */

.filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filterstitle_1 {
    padding: 1rem;
    display: flex;
}

.filters_title {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.filtersbox_icon {
    background-color: #deebff;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filters_icon {
    color: #0065FC;
}

.filters_box {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.filters_box:last-child {
    margin-right: 0;
}

.filters_text {
    margin: 0 1rem;
}

.filters_box:hover {
    background-color: #f3f8ff;
}

.information {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.icon_information {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}

.text_information {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .search_form {
        display: flex;
        width: 100%;
    }
    .search_text {
        flex: 1;
    }
    .searchbutton_text {
        display: none;
    }
    .searchbutton_icon {
        display: block;
    }
}

@media screen and(max-width: 650px) {
    .filters {
        width: 100%;
    }
    .filters_box {
        margin-right: 1rem;
        width: 100%;
        
    }
}

@media screen and (min-width: 601px) {
    .searchbutton_text {
        display: block;
    }
    .searchbutton_icon {
        display: none !important;
    }
}

/* Popular */

.hosting_popular {
    display: grid;
    grid-area: popular;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.popular {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    height: 100%;
}

.popular_title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
}

.popular_content {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.popular1_content {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    min-height: 33%;
}

.popular_img {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular_note {
    padding: 1rem;
    margin-top: -20px;
    color: #0065FC;
}

.star_icon {
    color: #e0e0e0;
}

.popular1_title {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
    text-align: justify;
}

.popular_description {
    padding: 1rem;
    margin-top: -20px;
    
}

.popularmain_content {
    display: flex;
    flex-direction: column;
}

.popular_fond {
    flex: 1;
}

@media screen and (min-width: 600px) {
    .hosting_popular {
        grid-template-columns: repeat(3, 1fr);
    }
     
}

@media (min-width: 1100px) {
    .hosting_popular {
        grid-row: 1/1;
    }
}

/* Hébergements */

.hosting {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}

.hostingtitle_1 {
    grid-column: 1/-1;
}

.bloc_section1 {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.hostingmain_title {
    margin: 0;
}

.hosting_1 {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;  
}

.hosting_img {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;   
}

.hosting_fig {
    margin: 0;
}

.hosting_title {
    margin: 0.25rem 0.75rem 0.75rem;
}

.hosting_description {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.hosting_price {
    font-weight: bold;
}

.hosting_note {
    margin: 0 0.75rem 0.25rem 0.75rem;
    color: #0065FC;
}

.hosting_star {
    color: #e0e0e0;
}

.hosting_viewmore {
    font-weight: bold;
    margin: 2rem 1rem;
}

@media (min-width: 925px) {
    .hosting_viewmore {
        position: relative;
        left: -1280px;
        bottom: -500px;
    }
}

@media (min-width: 925px) {
    .bloc_section1 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 925px) and (min-width: 650px) {
    .bloc_section1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .bloc_section1 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .hosting {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 9rem);
    }
}
/* Activity */

.bloc_activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
}

.activitymain_title {
    grid-column: 1/-1;
}

.activity {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.activity_content {
    position: relative;
    flex: 1;
}

.activity_img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activity_title {
    margin: 1.2rem 1.5rem;
}

@media (min-width: 1100px) {
    .bloc_activity {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }
    .activity1 {
        grid-row: 2/7;
        grid-column: 1/2;
    }
    .activity2 {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .activity3 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .activity4 {
        grid-column: 3/4;
        grid-row: 2/7;
    }
    .activity5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .activity6 {
        grid-column: 4/5;
        grid-row: 4/7;
    }
}

@media (max-width: 1100px) {
    .bloc_activity {
        row-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 12rem 12rem;
    }
}

@media (max-width: 925px) {
    .bloc_activity {
        row-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 12rem 12rem 12rem;
    }
}

@media (max-width: 650px) {
    .bloc_activity {
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
}
/* Footer */

ul {
    list-style: none;
    position: relative;
    top: 3rem; 
}

li {
    line-height: 2rem;  
}

.bloc_footer {
    background-color: #F2F2F2;
    width: 100%;  
}

.footer {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.footer_column {
    width: 30%;
    padding: 2rem 2rem;
}

.footer_link {
    display: block;
    margin: 0;
    
}

.footer_link:hover {
    text-decoration: underline;
}
@media (max-width: 750px) {
    .footer {
        flex-direction: column;
        padding: 2rem;
    }
    .footer_column {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }
    .footer_column:first-child {
        margin-top: 0;
    }
    .footer_column:last-child {
        margin-bottom: 0;
    }
    .footer_title {
        margin: 0;
    }
    .footer_link:last-child {
        margin-bottom: 0;
    }
    .footer_link {
        position: relative;
        margin: 0;
        left: -40px;
        top: -40px;
    }
}

@media (min-width: 600px) {
    .footer_link {
        position: relative;
        margin: 0;
        left: -45px;
        top: -45px;
    }
}